# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/.cxx/

# Python
laptop/.venv/
laptop/__pycache__/
laptop/*.pyc

# OS
.DS_Store
